@import "tailwindcss";

@theme {
  --spacing-*: initial;
  --spacing-0: 0px;
  --spacing-1: 0.25rem;
  --spacing-4: 1rem;
  --spacing-16: 4rem;

  --color-primary: oklch(55% 0.2 250);
  --color-surface: #ffffff;
}
